$primaryColor: #002d1d !default;
$primaryDarkColor: #013555 !default;
$primaryDarkerColor: #012135 !default;
$primaryLightColor: #678ea6 !default;
$primaryLighterColor: #e6ecf0 !default;
$primaryTextColor: #ffffff !default;

$secondaryColor: #007b5f !default;
$secondaryDarkColor: #004a39 !default;
$secondaryDarkerColor: #003126 !default;
$secondaryLightColor: #66b09f !default;
$secondaryLighterColor: #e6f2ef !default;
$secondaryTextColor: #ffffff !default;

$tertiaryColor: #ffcd00 !default;
$tertiaryDarkColor: #cca400 !default;
$tertiaryDarkerColor: #665200 !default;
$tertiaryLightColor: #ffe166 !default;
$tertiaryLighterColor: #fffae6 !default;
$tertiaryTextColor: #ffffff !default;

$accentColor: #5a0722 !default;
$accentTextColor: #ffffff !default;

$infoColor: #0067a0;
$successColor: #007b5f;
$warningColor: #ffcc38;
$helpColor: #6f42c1;
$dangerColor: #dc3545;

$grayColor: #9ca3af;
$zincColor: #71717a;
$neutralColor: #525252;
$stoneColor: #44403c;
$redColor: #b91c1c;
$orangeColor: #ea580c;
$amberColor: #d97706;
$yellowColor: #ca8a04;
$limeColor: #65a30d;
$greenColor: #16a34a;
$emeraldColor: #059669;
$tealColor: #0d9488;
$cyanColor: #0891b2;
$skyColor: #0284c7;
$blueColor: #2563eb;
$indigoColor: #4f46e5;
$violetColor: #7c3aed;
$purpleColor: #9333ea;
$fuchsiaColor: #c026d3;
$pinkColor: #db2777;
$roseColor: #e11d48;

$shade000: #ffffff !default; //surface
$shade100: #f1f5f9 !default; //header background      //updated: gray-50
$shade200: #e2e8f0 !default; //hover background       //updated: gray-100
$shade300: #cbd5e1 !default; //border, divider        //updated  coolgray-200
$shade400: #94a3b8 !default; //input border           //updated: gray-300
$shade500: #64748b !default; //input icon             //updated: coolgray500
$shade600: #475569 !default; //text secondary color   //updated: gray-500
$shade700: #334155 !default; //text color             //updated: gray-700
$shade800: #1e293b !default; //unused                 gray-800
$shade900: #0f172a !default; //unused

@import "../../abstracts/functions";
@import "../../abstracts/mixins";

@import "colorspalette";
@import "variables";
@import "../compact";

@import "../../vendors/primeng/base/base";
