$p-primary-900: #e6ecf0;
$p-primary-800: #ccd9e1;
$p-primary-700: #99b3c3;
$p-primary-600: #678ea6;
$p-primary-500: #346888;
$p-primary-400: #01426a;
$p-primary-300: #013b5f;
$p-primary-200: #013555;
$p-primary-100: #012e4a;
$p-primary-50: #000000;

$p-secondary-900: #e6f2ef;
$p-secondary-800: #cce5df;
$p-secondary-700: #99cabf;
$p-secondary-600: #66b09f;
$p-secondary-500: #33957f;
$p-secondary-400: #007b5f;
$p-secondary-300: #00624c;
$p-secondary-200: #004a39;
$p-secondary-100: #003e30;
$p-secondary-50: #003126;

$p-tertiary-900: #fffae6;
$p-tertiary-800: #fff5cc;
$p-tertiary-700: #ffeb99;
$p-tertiary-600: #ffe166;
$p-tertiary-500: #ffd733;
$p-tertiary-400: #ffcd00;
$p-tertiary-300: #e6b900;
$p-tertiary-200: #cca400;
$p-tertiary-100: #997b00;
$p-tertiary-50: #665200;

$p-bluep-gray-900: #f8fafc;
$p-bluep-gray-800: #f1f5f9;
$p-bluep-gray-700: #e2e8f0;
$p-bluep-gray-600: #cbd5e1;
$p-bluep-gray-500: #94a3b8;
$p-bluep-gray-400: #64748b;
$p-bluep-gray-300: #475569;
$p-bluep-gray-200: #334155;
$p-bluep-gray-100: #1e293b;
$p-bluep-gray-50: #0f172a;

$p-gray-900: #f9fafb;
$p-gray-800: #f3f4f6;
$p-gray-700: #e5e7eb;
$p-gray-600: #d1d5db;
$p-gray-500: #9ca3af;
$p-gray-400: #6b7280;
$p-gray-300: #4b5563;
$p-gray-200: #374151;
$p-gray-100: #1f2937;
$p-gray-50: #111827;

$p-surface-900: #ffffff;
$p-surface-800: #fafafa;
$p-surface-700: #f5f5f5;
$p-surface-600: #eeeeee;
$p-surface-500: #e0e0e0;
$p-surface-400: #bdbdbd;
$p-surface-300: #9e9e9e;
$p-surface-200: #757575;
$p-surface-100: #616161;
$p-surface-50: #424242;
$p-surface-0: #212121;

$p-zinc-900: #fafafa;
$p-zinc-800: #f4f4f5;
$p-zinc-700: #e4e4e7;
$p-zinc-600: #d4d4d8;
$p-zinc-500: #a1a1aa;
$p-zinc-400: #71717a;
$p-zinc-300: #52525b;
$p-zinc-200: #3f3f46;
$p-zinc-100: #27272a;
$p-zinc-50: #18181b;

$p-neutral-900: #fafafa;
$p-neutral-800: #f5f5f5;
$p-neutral-700: #e5e5e5;
$p-neutral-600: #d4d4d4;
$p-neutral-500: #a3a3a3;
$p-neutral-400: #737373;
$p-neutral-300: #525252;
$p-neutral-200: #404040;
$p-neutral-100: #262626;
$p-neutral-50: #171717;

$p-stone-900: #fafaf9;
$p-stone-800: #f5f5f4;
$p-stone-700: #e7e5e4;
$p-stone-600: #d6d3d1;
$p-stone-500: #a8a29e;
$p-stone-400: #78716c;
$p-stone-300: #57534e;
$p-stone-200: #44403c;
$p-stone-100: #292524;
$p-stone-50: #1c1917;

$p-red-900: #fef2f2;
$p-red-800: #fee2e2;
$p-red-700: #9c0d38;
$p-red-600: #fca5a5;
$p-red-500: #f87171;
$p-red-400: #ef4444;
$p-red-300: #dc2626;
$p-red-200: #b91c1c;
$p-red-100: #991b1b;
$p-red-50: #7f1d1d;

$p-orange-900: #fff7ed;
$p-orange-800: #ffedd5;
$p-orange-700: #fed7aa;
$p-orange-600: #fdba74;
$p-orange-500: #fb923c;
$p-orange-400: #f97316; // para button
$p-orange-300: #e97122;
$p-orange-200: #c2410c;
$p-orange-100: #9a3412;
$p-orange-50: #7c2d12;

$p-amber-900: #fffbeb;
$p-amber-800: #fef3c7;
$p-amber-700: #fde68a;
$p-amber-600: #fcd34d;
$p-amber-500: #fbbf24;
$p-amber-400: #f59e0b;
$p-amber-300: #d97706;
$p-amber-200: #b45309;
$p-amber-100: #92400e;
$p-amber-50: #78350f;

$p-yellow-900: #fefce8;
$p-yellow-800: #fef9c3;
$p-yellow-700: #fef08a;
$p-yellow-600: #fde047;
$p-yellow-500: #ffd166;
$p-yellow-400: #eab308;
$p-yellow-300: #ca8a04;
$p-yellow-200: #a16207;
$p-yellow-100: #854d0e;
$p-yellow-50: #713f12;

$p-lime-900: #f7fee7;
$p-lime-800: #ecfccb;
$p-lime-700: #d9f99d;
$p-lime-600: #bef264;
$p-lime-500: #a3e635;
$p-lime-400: #84cc16;
$p-lime-300: #65a30d;
$p-lime-200: #4d7c0f;
$p-lime-100: #3f6212;
$p-lime-50: #365314;

$p-green-900: #f0fdf4;
$p-green-800: #dcfce7;
$p-green-700: #bbf7d0;
$p-green-600: #86efac;
$p-green-500: #4ade80;
$p-green-400: #22c55e;
$p-green-300: #16a34a;
$p-green-200: #15803d;
$p-green-100: #166534;
$p-green-50: #14532d;

$p-emerald-900: #ecfdf5;
$p-emerald-800: #d1fae5;
$p-emerald-700: #a7f3d0;
$p-emerald-600: #6ee7b7;
$p-emerald-500: #34d399;
$p-emerald-400: #10b981;
$p-emerald-300: #059669;
$p-emerald-200: #047857;
$p-emerald-100: #065f46;
$p-emerald-50: #064e3b;

$p-teal-900: #f0fdfa;
$p-teal-800: #ccfbf1;
$p-teal-700: #99f6e4;
$p-teal-600: #5eead4;
$p-teal-500: #2dd4bf;
$p-teal-400: #14b8a6;
$p-teal-300: #0d9488;
$p-teal-200: #0f766e;
$p-teal-100: #115e59;
$p-teal-50: #134e4a;

$p-cyan-900: #ecfeff;
$p-cyan-800: #cffafe;
$p-cyan-700: #a5f3fc;
$p-cyan-600: #67e8f9;
$p-cyan-500: #22d3ee;
$p-cyan-400: #06b6d4;
$p-cyan-300: #0891b2;
$p-cyan-200: #0e7490;
$p-cyan-100: #155e75;
$p-cyan-50: #164e63;

$p-sky-900: #f0f9ff;
$p-sky-800: #e0f2fe;
$p-sky-700: #bae6fd;
$p-sky-600: #7dd3fc;
$p-sky-500: #38bdf8;
$p-sky-400: #0ea5e9;
$p-sky-300: #0284c7;
$p-sky-200: #0369a1;
$p-sky-100: #075985;
$p-sky-50: #0c4a6e;

$p-blue-900: #eff6ff;
$p-blue-800: #dbeafe;
$p-blue-700: #bfdbfe;
$p-blue-600: #93c5fd;
$p-blue-500: #60a5fa;
$p-blue-400: #3b82f6;
$p-blue-300: #2563eb;
$p-blue-200: #1d4ed8;
$p-blue-100: #1e40af;
$p-blue-50: #1e3a8a;

$p-indigo-900: #eef2ff;
$p-indigo-800: #e0e7ff;
$p-indigo-700: #c7d2fe;
$p-indigo-600: #a5b4fc;
$p-indigo-500: #818cf8;
$p-indigo-400: #6366f1;
$p-indigo-300: #4f46e5;
$p-indigo-200: #4338ca;
$p-indigo-100: #3730a3;
$p-indigo-50: #312e81;

$p-violet-900: #f5f3ff;
$p-violet-800: #ede9fe;
$p-violet-700: #ddd6fe;
$p-violet-600: #c4b5fd;
$p-violet-500: #a78bfa;
$p-violet-400: #8b5cf6;
$p-violet-300: #7c3aed;
$p-violet-200: #6d28d9;
$p-violet-100: #5b21b6;
$p-violet-50: #4c1d95;

$p-purple-900: #faf5ff;
$p-purple-800: #f3e8ff;
$p-purple-700: #e9d5ff;
$p-purple-600: #d8b4fe;
$p-purple-500: #c084fc;
$p-purple-400: #a855f7;
$p-purple-300: #9333ea;
$p-purple-200: #7e22ce;
$p-purple-100: #6b21a8;
$p-purple-50: #581c87;

$p-fuchsia-900: #fdf4ff;
$p-fuchsia-800: #fae8ff;
$p-fuchsia-700: #f5d0fe;
$p-fuchsia-600: #f0abfc;
$p-fuchsia-500: #e879f9;
$p-fuchsia-400: #d946ef;
$p-fuchsia-300: #c026d3;
$p-fuchsia-200: #a21caf;
$p-fuchsia-100: #86198f;
$p-fuchsia-50: #701a75;

$p-pink-900: #fdf2f8;
$p-pink-800: #fce7f3;
$p-pink-700: #fbcfe8;
$p-pink-600: #f9a8d4;
$p-pink-500: #f472b6;
$p-pink-400: #ec4899;
$p-pink-300: #db2777;
$p-pink-200: #be185d;
$p-pink-100: #9d174d;
$p-pink-50: #831843;

$p-rose-900: #fff1f2;
$p-rose-800: #ffe4e6;
$p-rose-700: #fecdd3;
$p-rose-600: #fda4af;
$p-rose-500: #fb7185;
$p-rose-400: #f43f5e;
$p-rose-300: #e11d48;
$p-rose-200: #be123c;
$p-rose-100: #9f1239;
$p-rose-50: #881337;
$p-rose-40: #9c0d38;

// PALETA DE CORES PRINCIPAL

$colorsPalette: (
    --p-primary-50: $p-primary-50,
    --p-primary-100: $p-primary-100,
    --p-primary-200: $p-primary-200,
    --p-primary-300: $p-primary-300,
    --p-primary-400: $p-primary-400,
    --p-primary-500: $p-primary-500,
    --p-primary-600: $p-primary-600,
    --p-primary-700: $p-primary-700,
    --p-primary-800: $p-primary-800,
    --p-primary-900: $p-primary-900,

    --p-secondary-50: $p-secondary-50,
    --p-secondary-100: $p-secondary-100,
    --p-secondary-200: $p-secondary-200,
    --p-secondary-300: $p-secondary-300,
    --p-secondary-400: $p-secondary-400,
    --p-secondary-500: $p-secondary-500,
    --p-secondary-600: $p-secondary-600,
    --p-secondary-700: $p-secondary-700,
    --p-secondary-800: $p-secondary-800,
    --p-secondary-900: $p-secondary-900,

    --p-tertiary-50: $p-tertiary-50,
    --p-tertiary-100: $p-tertiary-100,
    --p-tertiary-200: $p-tertiary-200,
    --p-tertiary-300: $p-tertiary-300,
    --p-tertiary-400: $p-tertiary-400,
    --p-tertiary-500: $p-tertiary-500,
    --p-tertiary-600: $p-tertiary-600,
    --p-tertiary-700: $p-tertiary-700,
    --p-tertiary-800: $p-tertiary-800,
    --p-tertiary-900: $p-tertiary-900,

    --p-bluep-gray-50: $p-bluep-gray-50,
    --p-bluep-gray-100: $p-bluep-gray-100,
    --p-bluep-gray-200: $p-bluep-gray-200,
    --p-bluep-gray-300: $p-bluep-gray-300,
    --p-bluep-gray-400: $p-bluep-gray-400,
    --p-bluep-gray-500: $p-bluep-gray-500,
    --p-bluep-gray-600: $p-bluep-gray-600,
    --p-bluep-gray-700: $p-bluep-gray-700,
    --p-bluep-gray-800: $p-bluep-gray-800,
    --p-bluep-gray-900: $p-bluep-gray-900,

    --p-gray-50: $p-gray-50,
    --p-gray-100: $p-gray-100,
    --p-gray-200: $p-gray-200,
    --p-gray-300: $p-gray-300,
    --p-gray-400: $p-gray-400,
    --p-gray-500: $p-gray-500,
    --p-gray-600: $p-gray-600,
    --p-gray-700: $p-gray-700,
    --p-gray-800: $p-gray-800,
    --p-gray-900: $p-gray-900,

    --p-surface-0: $p-surface-0,
    --p-surface-50: $p-surface-50,
    --p-surface-100: $p-surface-100,
    --p-surface-200: $p-surface-200,
    --p-surface-300: $p-surface-300,
    --p-surface-400: $p-surface-400,
    --p-surface-500: $p-surface-500,
    --p-surface-600: $p-surface-600,
    --p-surface-700: $p-surface-700,
    --p-surface-800: $p-surface-800,
    --p-surface-900: $p-surface-900,

    --p-zinc-50: $p-zinc-50,
    --p-zinc-100: $p-zinc-100,
    --p-zinc-200: $p-zinc-200,
    --p-zinc-300: $p-zinc-300,
    --p-zinc-400: $p-zinc-400,
    --p-zinc-500: $p-zinc-500,
    --p-zinc-600: $p-zinc-600,
    --p-zinc-700: $p-zinc-700,
    --p-zinc-800: $p-zinc-800,
    --p-zinc-900: $p-zinc-900,

    --p-neutral-50: $p-neutral-50,
    --p-neutral-100: $p-neutral-100,
    --p-neutral-200: $p-neutral-200,
    --p-neutral-300: $p-neutral-300,
    --p-neutral-400: $p-neutral-400,
    --p-neutral-500: $p-neutral-500,
    --p-neutral-600: $p-neutral-600,
    --p-neutral-700: $p-neutral-700,
    --p-neutral-800: $p-neutral-800,
    --p-neutral-900: $p-neutral-900,

    --p-stone-50: $p-stone-50,
    --p-stone-100: $p-stone-100,
    --p-stone-200: $p-stone-200,
    --p-stone-300: $p-stone-300,
    --p-stone-400: $p-stone-400,
    --p-stone-500: $p-stone-500,
    --p-stone-600: $p-stone-600,
    --p-stone-700: $p-stone-700,
    --p-stone-800: $p-stone-800,
    --p-stone-900: $p-stone-900,

    --p-red-50: $p-red-50,
    --p-red-100: $p-red-100,
    --p-red-200: $p-red-200,
    --p-red-300: $p-red-300,
    --p-red-400: $p-red-400,
    --p-red-500: $p-red-500,
    --p-red-600: $p-red-600,
    --p-red-700: $p-red-700,
    --p-red-800: $p-red-800,
    --p-red-900: $p-red-900,

    --p-orange-50: $p-orange-50,
    --p-orange-100: $p-orange-100,
    --p-orange-200: $p-orange-200,
    --p-orange-300: $p-orange-300,
    --p-orange-400: $p-orange-400,
    --p-orange-500: $p-orange-500,
    --p-orange-600: $p-orange-600,
    --p-orange-700: $p-orange-700,
    --p-orange-800: $p-orange-800,
    --p-orange-900: $p-orange-900,

    --p-amber-50: $p-amber-50,
    --p-amber-100: $p-amber-100,
    --p-amber-200: $p-amber-200,
    --p-amber-300: $p-amber-300,
    --p-amber-400: $p-amber-400,
    --p-amber-500: $p-amber-500,
    --p-amber-600: $p-amber-600,
    --p-amber-700: $p-amber-700,
    --p-amber-800: $p-amber-800,
    --p-amber-900: $p-amber-900,

    --p-yellow-50: $p-yellow-50,
    --p-yellow-100: $p-yellow-100,
    --p-yellow-200: $p-yellow-200,
    --p-yellow-300: $p-yellow-300,
    --p-yellow-400: $p-yellow-400,
    --p-yellow-500: $p-yellow-500,
    --p-yellow-600: $p-yellow-600,
    --p-yellow-700: $p-yellow-700,
    --p-yellow-800: $p-yellow-800,
    --p-yellow-900: $p-yellow-900,

    --p-lime-50: $p-lime-50,
    --p-lime-100: $p-lime-100,
    --p-lime-200: $p-lime-200,
    --p-lime-300: $p-lime-300,
    --p-lime-400: $p-lime-400,
    --p-lime-500: $p-lime-500,
    --p-lime-600: $p-lime-600,
    --p-lime-700: $p-lime-700,
    --p-lime-800: $p-lime-800,
    --p-lime-900: $p-lime-900,

    --p-green-50: $p-green-50,
    --p-green-100: $p-green-100,
    --p-green-200: $p-green-200,
    --p-green-300: $p-green-300,
    --p-green-400: $p-green-400,
    --p-green-500: $p-green-500,
    --p-green-600: $p-green-600,
    --p-green-700: $p-green-700,
    --p-green-800: $p-green-800,
    --p-green-900: $p-green-900,

    --p-emerald-50: $p-emerald-50,
    --p-emerald-100: $p-emerald-100,
    --p-emerald-200: $p-emerald-200,
    --p-emerald-300: $p-emerald-300,
    --p-emerald-400: $p-emerald-400,
    --p-emerald-500: $p-emerald-500,
    --p-emerald-600: $p-emerald-600,
    --p-emerald-700: $p-emerald-700,
    --p-emerald-800: $p-emerald-800,
    --p-emerald-900: $p-emerald-900,

    --p-teal-50: $p-teal-50,
    --p-teal-100: $p-teal-100,
    --p-teal-200: $p-teal-200,
    --p-teal-300: $p-teal-300,
    --p-teal-400: $p-teal-400,
    --p-teal-500: $p-teal-500,
    --p-teal-600: $p-teal-600,
    --p-teal-700: $p-teal-700,
    --p-teal-800: $p-teal-800,
    --p-teal-900: $p-teal-900,

    --p-cyan-50: $p-cyan-50,
    --p-cyan-100: $p-cyan-100,
    --p-cyan-200: $p-cyan-200,
    --p-cyan-300: $p-cyan-300,
    --p-cyan-400: $p-cyan-400,
    --p-cyan-500: $p-cyan-500,
    --p-cyan-600: $p-cyan-600,
    --p-cyan-700: $p-cyan-700,
    --p-cyan-800: $p-cyan-800,
    --p-cyan-900: $p-cyan-900,

    --p-sky-50: $p-sky-50,
    --p-sky-100: $p-sky-100,
    --p-sky-200: $p-sky-200,
    --p-sky-300: $p-sky-300,
    --p-sky-400: $p-sky-400,
    --p-sky-500: $p-sky-500,
    --p-sky-600: $p-sky-600,
    --p-sky-700: $p-sky-700,
    --p-sky-800: $p-sky-800,
    --p-sky-900: $p-sky-900,

    --p-blue-50: $p-blue-50,
    --p-blue-100: $p-blue-100,
    --p-blue-200: $p-blue-200,
    --p-blue-300: $p-blue-300,
    --p-blue-400: $p-blue-400,
    --p-blue-500: $p-blue-500,
    --p-blue-600: $p-blue-600,
    --p-blue-700: $p-blue-700,
    --p-blue-800: $p-blue-800,
    --p-blue-900: $p-blue-900,

    --p-indigo-50: $p-indigo-50,
    --p-indigo-100: $p-indigo-100,
    --p-indigo-200: $p-indigo-200,
    --p-indigo-300: $p-indigo-300,
    --p-indigo-400: $p-indigo-400,
    --p-indigo-500: $p-indigo-500,
    --p-indigo-600: $p-indigo-600,
    --p-indigo-700: $p-indigo-700,
    --p-indigo-800: $p-indigo-800,
    --p-indigo-900: $p-indigo-900,

    --p-violet-50: $p-violet-50,
    --p-violet-100: $p-violet-100,
    --p-violet-200: $p-violet-200,
    --p-violet-300: $p-violet-300,
    --p-violet-400: $p-violet-400,
    --p-violet-500: $p-violet-500,
    --p-violet-600: $p-violet-600,
    --p-violet-700: $p-violet-700,
    --p-violet-800: $p-violet-800,
    --p-violet-900: $p-violet-900,

    --p-purple-50: $p-purple-50,
    --p-purple-100: $p-purple-100,
    --p-purple-200: $p-purple-200,
    --p-purple-300: $p-purple-300,
    --p-purple-400: $p-purple-400,
    --p-purple-500: $p-purple-500,
    --p-purple-600: $p-purple-600,
    --p-purple-700: $p-purple-700,
    --p-purple-800: $p-purple-800,
    --p-purple-900: $p-purple-900,

    --p-fuchsia-50: $p-fuchsia-50,
    --p-fuchsia-100: $p-fuchsia-100,
    --p-fuchsia-200: $p-fuchsia-200,
    --p-fuchsia-300: $p-fuchsia-300,
    --p-fuchsia-400: $p-fuchsia-400,
    --p-fuchsia-500: $p-fuchsia-500,
    --p-fuchsia-600: $p-fuchsia-600,
    --p-fuchsia-700: $p-fuchsia-700,
    --p-fuchsia-800: $p-fuchsia-800,
    --p-fuchsia-900: $p-fuchsia-900,

    --p-pink-50: $p-pink-50,
    --p-pink-100: $p-pink-100,
    --p-pink-200: $p-pink-200,
    --p-pink-300: $p-pink-300,
    --p-pink-400: $p-pink-400,
    --p-pink-500: $p-pink-500,
    --p-pink-600: $p-pink-600,
    --p-pink-700: $p-pink-700,
    --p-pink-800: $p-pink-800,
    --p-pink-900: $p-pink-900,

    --p-rose-40: $p-rose-40,
    --p-rose-50: $p-rose-50,
    --p-rose-100: $p-rose-100,
    --p-rose-200: $p-rose-200,
    --p-rose-300: $p-rose-300,
    --p-rose-400: $p-rose-400,
    --p-rose-500: $p-rose-500,
    --p-rose-600: $p-rose-600,
    --p-rose-700: $p-rose-700,
    --p-rose-800: $p-rose-800,
    --p-rose-900: $p-rose-900,

    // --p-primary-color-black: $p-primary-color-black,
    // --accent: $accent,
    // --p-green-forest: $color-primaria-verde-mata,
    // --p-yellow-tucupi: $color-destaque-amarelo-tucupi,
    // --p-purple-acai: $color-secundaria-acai-roxo,
    // --text-primary-charcoal: $color-texto-principal-carvao,
    // --text-color-p-gray: $color-texto-secundario-cinza,
    // --color-brown: $color-fundo-castanha,
    // --color-clay: $color-fundo-argila,
    // --color-success: $color-sucesso,
    // --color-error: $color-erro,
    // --text-color-light: $color-texto-claro,,,,,,,,,,,,,,,,
);
