@use "../abstracts" as *;

.btn {
    display: inline-block;
    padding: 1rem 1.8rem;
    border-radius: 1.8rem;
    background-color: var(--p-surface-900);
    font-weight: $font-weight;
    font-size: 1.4rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: translateY(-2px);
    }
}

.btn-categoria {
    padding: 1rem 1.8rem;
    border-radius: 0.8rem;
    border: 1px solid var(--p-orange-300);
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    color: var(--p-orange-300);
    background-color: transparent;
    &.active {
        background-color: var(--p-orange-300);
        color: white;
    }
    &:hover {
        background-color: var(--p-orange-300);
        color: white;
    }
}
