.menu {
    padding: 80px 0;
    background-color: white;

    .dishes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        margin-bottom: 50px;
    }

    .menu-btn-container {
        text-align: center;
    }
}
